.DS_STORE
__pycache__
enhancer_classification/Enhancers_vs_negative
enhancer_classification/models/*.h5
enhancer_classification/models/*.json
enhancer_classification/kmer-models/*.h5
enhancer_classification/kmer-models/*.json
nanopore_seq2seq/chiron
